[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.8"
django-environ = "==0.4.5"
dependency-injector = "3.23.2"
mysqlclient = "==2.0.1"
uwsgi = "==2.0.19.1"

[requires]
python_version = "3.8"

[scripts]
up = "uwsgi --socket :8000 --module project.wsgi"
