[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
django = "==3.1.13"
djangorestframework = "==3.11.0"
django-environ = "==0.4.5"
dependency-injector = "3.23.2"
mysqlclient = "==2.0.1"
uwsgi = "==2.0.19.1"

[requires]
python_version = "3.8"
